%h1 Contact Information

= render 'shared/flash_messages'

%p
  %label Full name: 
  %b
    =contact[:full_name]
%p
  %label Email: 
  %b
    =contact[:email]
%p  
  = link_to 'Edit', edit_admin_contact_url(contact.id)
  = link_to 'Delete', admin_contact_url(contact.id), data: { method: :delete, confirm: 'Delete this contact?' }